{% extends 'base/main.html' %}

{% block content %}
{% if user.is_authenticated %}
		<div class="d-flex justify-content-center mt-3 login_container">
			<h1>Edit Profile</h1>
			</br></br>
			<div class="d-flex justify-content-center">

				<div class="form-group">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						
						{{ form.as_p }}
						<button class="btn btn-secondary">Update Profile</button>
				</div>
			</div>
		</div>
{% else %}
You must <a href="/login">Login</a>
{% endif %}


{% endblock content %}
