{% extends 'base/main.html' %}

{% block content %}
<title>Weatherfy | Friends</title>
<h1>Friends</h1>

<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="col-md-4">
        <h2>Friends ({{ friends|length }})</h2>

        {% if friends|length == 0 %}
        <p>You don't have any friends yet</p>

        {% else %}

        {% for friend in friends %}
        <a href="{% url '' %}">
            <h3>{{ friend.username }}</h3>
        </a>
        <a href="{% url '' %}">
            <button type="button" class="btn btn-default">Remove Friend</button>
        </a>
        {% endfor %}

        {% endif %}

        <hr />

        <h2>Other People ({{ users|length }})</h2>
        {% if users|length == 0 %}
        <p>There aren't enough users yet</p>

        {% else %}

        {% for user in users %}
        <a href="{% url '' %}">
            <h3>{{ user.username }}</h3>
        </a>
        {% if not user in friends %}
        <a href="{% url '' %}">
            <button type="button" class="btn btn-success">Add Friend</button>
        </a>
        {% endif %}
        {% endfor %}

        {% endif %}

    </div>
</div>

{% endblock content %}